* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;

}

.container {
    max-width: 90%;
    width: 1200px;
    margin: 0 auto;
}

/*=Header=*/

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
   
}

.eng {
    padding-top: 16px;
    margin-left: 3px;
}

.tourney {
    font-family: 'Tourney';
    text-transform: uppercase;
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 0.04em;
}

.staatliches {
    font-family: 'Staatliches';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    line-height: 28px;
    color: #000;
    letter-spacing: 0.03em;
    &:hover {
        color: darkslateblue;
    }
}

.nav    {
    margin-right: 549px;
    padding-top: 14px;
    position: relative;
    left: -6px;
    .slash {
        position: relative;
        left: 5px;

    }
}

.nav-pos2 {
    position: relative;
    left: 11px;
}
/*=#Header=*/

h1 {
    font-family: 'Roboto';
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    padding-top: 79px;
    margin-left: 120px;
    position:relative;
    margin-bottom: 40px;
    &::before {
        content: '';
        width: 100px;
        min-height: 8px;
        background-color: #000;
        position: absolute;
        left: -122px;
        top: 99px;
    }
}  
    
.cards {
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    .grid   {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 180px);
        gap: 30px;
        padding: 20px 15px 18px 15px;
        .pic {
            overflow: hidden;
            border-radius: 8px;
            transition: all 1s ease;
            
        }
        
    }   
        
}


.pic {
    perspective: 1000px;
    .flip {
        position: relative;
        width: 100%;
        height: 100%;
        transition: all 1s ease;
        transform-style: preserve-3d;
        .front, .back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }
        .back {
            filter: invert(1);
            transform: rotatex(180deg);
        }
    }
    &:hover .flip {
        transform: rotateX(180deg);
    }
    
        
}

main {
    padding-bottom: 70px;
}